@import '~antd/dist/antd.css';

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.anticon-close-circle {
    cursor: pointer;
    color: #ccc;
    transition: color 0.3s;
    font-size: 12px;
    margin-right: 5px;
}

.anticon-close-circle:hover {
    color: #999;
}

.anticon-close-circle:active {
    color: #666;
}

/* memo编辑时，不要高亮 */
textarea.memo:focus {
    outline: 0;
}

/* memo编辑时，分类选择不显示边框 */
div.memo div.ant-select-selection {
    border-width: 0;
}

/* memo显示时，正文变细些 */
div.memo p {
    font-weight: 300;
    text-align: justify;
}

.hljs {
    background: transparent;
}

/*  博客 markdown  */
pre {
    padding: 0.5em;
    overflow: auto;
    line-height: 1.45;
    background-color: #f7f7f7;
    border-radius: .25em;
}

blockquote {
    color: #666;
    margin: 0;
    padding-left: 1em;
    border-left: 0.5em #eee solid;
}

#blog-markdown {
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
}

#blog-markdown p {
    font-size: 16px;
    line-height: 1.8;
    margin-bottom: 1em;
    font-weight: 300;
    text-align: justify;
}

#blog-markdown strong {
    color: #00b050;
    font-weight: 600;
}

#blog-markdown h1 {
    font-weight: 600;
}

#blog-markdown h2 {
    font-weight: 600;
}

img {
    max-width: 100%;
}

tr {
    border-top: 1px solid #c6cbd1;
    background: #fff;
}

th,
td {
    padding: 6px 13px;
    border: 1px solid #dfe2e5;
}

table tr:nth-child(2n) {
    background: #f6f8fa;
}

/*  条目内容为空时的工具条，鼠标悬浮变色，突出显示。  */
div.tool-bar i.anticon:hover {
    font-weight: bold;
}

/*  条目内容为空时的工具条，鼠标悬浮变色，突出显示。  */
div.module-tool-bar i.anticon:hover {
    font-weight: bold;
}

/* 卡片鼠标悬浮突出阴影显示 */
div.memo-card, div.module-tool-bar {
    box-shadow: 0 1px 4px rgba(1, 1, 1, .15);
}

div.memo-card:hover, div.module-tool-bar:hover {
    box-shadow: 0 1px 5px rgba(1, 1, 1, .3);
}

/* 滚动条样式 */
::-webkit-scrollbar {
    width: 10px;
    height: 10px
}

::-webkit-scrollbar-track {
    background: 0 0
}

::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 5px
}

::-webkit-scrollbar-thumb:hover {
    background-color: #666
}

::-webkit-scrollbar-corner {
    background-color: #fff
}

body ::-webkit-scrollbar {
    width: 8px
}

body ::-webkit-scrollbar-thumb {
    background-color: #ddd
}
