@import '~antd/dist/antd.css';

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.anticon-close-circle {
    cursor: pointer;
    color: #ccc;
    transition: color 0.3s;
    font-size: 12px;
    margin-right: 5px;
}

.anticon-close-circle:hover {
    color: #999;
}

.anticon-close-circle:active {
    color: #666;
}

/* memo编辑时，不要高亮 */
textarea.memo:focus {
    outline: 0;
}

/* memo编辑时，分类选择不显示边框 */
div.memo div.ant-select-selection {
    border-width: 0;
}

/* memo显示时，正文变细些 */
div.memo p {
    font-weight: 300;
    text-align: justify;
}

.hljs {
    background: transparent;
}
/*  博客 markdown  */
pre {
    padding: 0.5em;
    overflow: auto;
    line-height: 1.45;
    background-color: #f7f7f7;
    border-radius: .25em;
}

blockquote {
    color: #666;
    margin: 0;
    padding-left: 3em;
    border-left: 0.5em #eee solid;
}

tr {
    border-top: 1px solid #c6cbd1;
    background: #fff;
}

th,
td {
    padding: 6px 13px;
    border: 1px solid #dfe2e5;
}

table tr:nth-child(2n) {
    background: #f6f8fa;
}